.loginContainer{
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #647082;
}


.loginContainer div{
    width: 100%;
    margin: auto;
}

.loginContainer div h1{
    color: #F6F6FF;
    margin-bottom: 6rem;
}


.form-signin{
    width: 100%;
    background-color: #F6F6FF;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    border-radius: 16px;
}

.form-signin input{
    margin: 8px 0;
}


.btn-block{
    margin: 4px 0px;
    width: 100%;
}

.btn-blue{
    background-color: #309DDB !important;
    color: #F6F6FF !important;
}